<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Официальный сайт компании {{ settings.webSite.siteName }} {% endblock %}</title>
    <base href="{{ url('app_energo_show') }}">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('energo/' ~ 'css/bootstrap/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('energo/' ~ 'css/font-awesome/font-awesome.css') }}">
        <link rel="stylesheet" href="{{ asset('energo/' ~ 'css/flexslider.css') }}">
        <link rel="stylesheet" href="{{ asset('energo/' ~ 'css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('energo/' ~ 'css/common.css') }}">
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block body %}
    {# top bar #}
    {% include 'common/top_wrapper.html.twig' %}
    {# navigation menu #}
    {{ render(controller('AppBundle:energo:menu')) }}

    {% block content %}
    {% endblock %}

    {# footer #}
    {% include 'common/footer.html.twig' %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('energo/js/jquery.js') }}"></script>
    <script src="{{ asset('energo/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}
</body>
</html>
