{% macro render_topmenu(page, repository) %}
{% spaceless %}
    {% set content = '' %}
    {% for subPage in repository.getChildren(page, true, 'id', 'asc') %}
        {% set dropdown = _self.render_topmenu(subPage, repository) %}
        {% set itemContent %}
        <li {% if dropdown %}class="dropdown-submenu"{% endif %}>
            <a {% if repository.childCount(subPage) %}tabindex="-1"{% endif %} href="{{ subPage|pageUrl }}">{{ subPage.title }}</a>
            {{ dropdown }}
        </li>
        {% endset %}
        {% set content = content ~ itemContent %}
    {% endfor %}
    {% if content|length %}
        <ul class="dropdown-menu">
            {{ content|raw }}
        </ul>
    {% endif %}
{% endspaceless %}
{% endmacro %}

{% macro recaptcha(siteKey)%}
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <div class="g-recaptcha" data-sitekey="{{siteKey}}"></div>
{% endmacro %}

{% macro share_div()%}
<script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
<script src="//yastatic.net/share2/share.js"></script>
<div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,twitter,whatsapp"></div>
{% endmacro %}