<div id="wrapper">
    <div class="topbar">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-1 col-sm-3">
                        <a class="navbar-brand" href="http://energo.gov.kg">
                            <img src="{{ asset('images/energoholding_logo.png') }}" class="img-responsive"/>
                        </a>
                    </div>
                    <div class="col-lg-1 col-sm-3">
                        <a class="navbar-brand" href="#">
                            <img src="{{ asset('images/logo.png') }}" class="img-responsive"/>
                        </a>
                    </div>
                    <div id="brand-title" class="col-lg-4 col-sm-6 hide-for-small">
                        <h4 class="title">{{ settings.website.siteName }} </br>{% trans %}свет и тепло в вашем доме{% endtrans %}</h4>
                    </div>

                    <div class="col-lg-2 col-sm-4">
                        <div id="locale-switch" class="btn-group">
                            {% if  app.request.locale == 'ru' %}
                                <a class="active">Рус</a>
                                <a href="{{ url('app_energo_show', {_locale: 'kg'}) }}">Кыр</a>
                            {% elseif app.request.locale == 'kg' %}
                                <a href="{{ url('app_energo_show', {_locale: 'ru'}) }}">Рус</a>
                                <a class="active">Кыр</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-8">
                        <form class="navbar-form">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="{% trans %}Найти на сайте...{% endtrans %}"
                                           aria-label="{% trans %}Найти на сайте...{% endtrans %}">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="button"><i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>