<div id="wrapper">
    <div class="topbar">
        <div class="container">
            <div class="row">

                    <div class="col-lg-7">
                        <div class="col-lg-5">
                            <a target="_blank" href="http://energo.gov.kg">
                                <img src="{{ asset('images/logoholding.png') }}" class="img-responsive"/>
                            </a>
                        </div>

                        <div class="col-lg-7">
                            <a href="{{ url('main_page') }}">
                                <div class="navbar-brand">
                                    <img src="{{ asset('images/logo.png') }}" class="img-responsive"/>
                                </div>
                                <div id="brand-title" class="col-lg-9">
                                    <h4 class="title">{{ settings.website.siteName }}</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-4">
                        <div id="locale-switch" class="pull-rigth">
                            {% if  app.request.locale == 'ru' %}
                                <a class="active">Рус</a>
                                <a href="{{ url(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'kg'})) }}">Кыр</a>
                            {% elseif app.request.locale == 'kg' %}
                                <a href="{{ url(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'ru'})) }}">Рус</a>
                                <a class="active">Кыр</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-8">
                        <form class="navbar-form">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="{% trans %}website_search_placeholder{% endtrans %}"
                                           aria-label="{% trans %}Найти на сайте...{% endtrans %}">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="button"><i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>

            </div>
        </div>
    </div>
</div>