{% extends 'base.html.twig' %}
{% import 'common/helper.html.twig' as helper %}

{% block title %}{{ title }} - {{ settings.webSite.siteName }}{% endblock %}
{% block content %}
    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="pageTitle">{{ page.title|trans }}</h2>
                </div>
            </div>
            <div class="row">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ url('main_page') }}">{% trans %}Домой{% endtrans %}</a></li>
                    <li class="breadcrumb-item"><a href="{{ helper.pageUrl(page.pageTree) }}">{{ page.pageTree.title }}</a></li>
                    <li class="breadcrumb-item active">{{ page.title }}</li>
                </ol>
            </div>
        </div>
    </section>

    <section id="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="thumbnail">
                        {% media page.media, 'big' with {'class': 'img-responsive'} %}
                    </div>
                    <div class="article-body">
                        {{ page.content|raw }}
                    </div>
                    <div class="info-blocks-in">
                        <p>{% trans %}Опубликовано:{% endtrans %} {{ page.createTime|date("d.m.Y") }}</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    {{ render(controller('AppBundle:frontend:articleSidebar')) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}