{% extends 'base.html.twig' %}

{% block title %}{{ title }} - {{ settings.webSite.siteName }}{% endblock %}
{% block content %}
    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="pageTitle">{{ page.title|trans }}</h2>
                </div>
            </div>
        </div>
    </section>

    <section id="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <img class="img-responsive" src="{{ asset('uploads/media/' ~ page.image ) }}" alt="">
                    {{ page.content|raw }}

                    <div class="info-blocks-in">
                        <p>{% trans %}Опубликовано:{% endtrans %} {{ page.createTimedate("d.m.Y") }}</p>
                    </div>
                </div>
                <div class="col-lg-3">

                </div>
            </div>
        </div>
    </section>
{% endblock %}