{% extends 'base.html.twig' %}

{% block content %}
    <section id="call-to-action-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 aligncenter">
                    <h4>ОАО "ЖАЛАЛАБАТЭЛЕКТРО"</h4>
                    <h1>{% trans %}main_page_slogan_1{% endtrans %}</h1>
                    <p>{% trans %}main_page_slogan_2{% endtrans %}</p>
                    <a href="{{ url('url_show', {url: 'about-jae'}) }}" class="btn btn-lg btn-primary">{% trans %}О компании{% endtrans %}</a>
                </div>
            </div>
        </div>
    </section>
    {% include 'energo/skill_home.html.twig' %}
    <section id="content">
        <div class="container">
            <div id="news" class="row">
                <div class="service-v1 margin-bottom-40">
                    {% for article in articles %}
                        <div class="article-item col-md-4 md-margin-bottom-40">
                            {% if article.media.providerName == 'sonata.media.provider.youtube' %}
                                <div class="embed-responsive embed-responsive-16by9  media-preview">
                                    {% media article.media, 'video' with {'class': 'video'} %}
                                </div>
                            {% elseif article.media.providerName == 'sonata.media.provider.image' %}
                                <div class="media-preview">
                                    {% media article.media, 'box' with {'class': 'img-responsive'} %}
                                </div>
                            {% endif %}
                            <div class="info-blocks-in">
                                <p>{% trans %}Опубликовано:{% endtrans %} {{ article.createTime|date("d.m.Y") }}</p>
                            </div>
                            <a href="{{ article|pageUrl }}">
                                <h4 class="article-title">{{ article.title|truncate(60) }}</h4>
                            </a>
                            <div class="article-text">
                                {{ article.content|striptags|truncate(200)|raw }}
                            </div>
                            <div class="more">
                                <a href="{{ article|pageUrl }}">{% trans %}read_more{% endtrans %}</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-md-12 aligncenter">
                    <a id="all-news" href="{{ url('url_show', {url: 'kabarloo'}) }}" class="btn btn-default btn-lg">{% trans %}Все новости{% endtrans %}</a>
                </div>
            </div>
        </div>
    </section>
    <section id="companies" class="section-grey">
        <div class="container">
            <div class="row">
                <div class="section-title">
                    <h3>{% trans %}Энергокомпании{% endtrans %}</h3>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                        <div class="content">
                            <a target="_blank" href="http://www.teploseti.kg/"><img class="img-responsive" src="{{ asset('images/teplo.jpg') }}"></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                        <div class="content">
                            <a target="_blank" href="http://severelectro.kg/"><img class="img-responsive" src="{{ asset('images/severelectro.jpg') }}"></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                        <div class="content">
                            <a target="_blank" href="http://www.energo.gov.kg/"><img class="img-responsive" src="{{ asset('images/logoholding.png') }}"></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                        <div class="content">
                            <a target="_blank" href="http://www.energo-es.kg/"><img class="img-responsive" src="{{ asset('images/estations.jpg') }}"></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                        <div class="content">
                            <a target="_blank" href="http://oshelectro.kg/"><img class="img-responsive" src="{{ asset('images/oshelectro.jpg') }}"></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                        <div class="content">
                            <a target="_blank" href="http://nesk.kg/"><img class="img-responsive" src="{{ asset('images/nesk.jpg') }}"></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                        <div class="content">
                            <a target="_blank" href="http://www.chakanges.kg/"><img class="img-responsive" src="{{ asset('images/chakan.jpg') }}"></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                        <div class="content">
                            <a target="_blank" href="http://vostokelectro.kg/"><img class="img-responsive" src="{{ asset('images/vostok.jpg') }}"></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                        <div class="content">
                            <a target="_blank" href="http://www.regulatortek.kg/"><img class="img-responsive" src="{{ asset('images/regulatortek.jpg') }}"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {#<section id="hotline">
        <div class="container">
            <!--<div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>-->
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 call-center">
                <div class="title">{% trans %}Круглосуточный колл-центр{% endtrans %}</div>
                <div class="name">{{ settings.website.siteName }}</div>
                <div class="phone">
                    <img src="energo/img/phone.png">
                    <span>1209</span>
                </div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 call-phones">
                <div><a href="#">Телефоны дежурных диспетчеров РЭС  ОАО «Востокэлектро»</a></div>
                <div><a href="#">Телефоны дежурных диспетчеров РЭС ОАО "Ошэлектро"</a></div>
                <div><a href="#">Телефоны дежурных диспетчеров РЭС ОАО «Жалалабатэлектро»</a></div>
                <div><a href="#">Номера дежурных телефонов ОАО «Бишкектеплосеть»</a></div>
                <div><a href="#">Круглосуточные номера телефонов диспетчерских служб районов электросетей ОАО «Северэлектро»</a></div>
            </div>
        </div>
    </section>#}
    <section id="info-graphics">
        <div class="container">
            <div class="row">
                <div class="section-title">
                    <h3>{% trans %}Жалалабатэлектро в цифрах{% endtrans %}</h3>
                </div>
                <div id="main-slider" class="flexslider">
                    <ul class="slides">
                        <li>
                            <img src="uploads/media/slide1.jpg" alt="" />
                            <div class="flex-caption">
                            </div>
                        </li>
                        <li>
                            <img src="uploads/media/slide2.jpg" alt="" />
                            <div class="flex-caption">
                            </div>
                        </li>
                        <li>
                            <img src="uploads/media/slide3.jpg" alt="" />
                            <div class="flex-caption">
                            </div>
                        </li>
                        <li>
                            <img src="uploads/media/slide4.jpg" alt="" />
                            <div class="flex-caption">
                            </div>
                        </li>
                    </ul>
                </div>
        </div>

    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('energo/js/jquery.easing.1.3.js') }}"></script>
    <script src="{{ asset('energo/js/jquery.flexslider.js') }}"></script>
    <script src="{{ asset('energo/js/animate.js') }}"></script>
    <script src="{{ asset('energo/js/custom.js') }}"></script>
{% endblock %}