{% extends 'base.html.twig' %}

{% block content %}
    <section id="call-to-action-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 aligncenter">
                    <h4>ОАО "ЖАЛАЛАБАДЭЛЕКТРО"</h4>

                    <h3>ОПЫТ. РАЗВИТИЕ. ИННОВАЦИИ.</h3>

                    <p>Только вместе мы добьемся поставленных целей</p>
                    <a href="#" class="btn btn-default">О КОМПАНИИ</a>
                </div>
            </div>
        </div>
    </section>
    {% include 'energo/skill_home.html.twig' %}
    <section id="content">
        <div class="container">
            <div class="row">
                <div id="news" class="row service-v1 margin-bottom-40">
                    {% for row in articles %}
                        <div class="col-md-4 md-margin-bottom-40">
                            <div class="well">
                                <a href="{{ url('app_energo_article', {id: row.id}) }}">
                                    <img class="img-responsive" src="{{ asset('uploads/media/' ~ row.image ) }}" alt="">
                                </A>
                                <div class="info-blocks-in">
                                    <p>{% trans %}Опубликовано:{% endtrans %} {{ row.createTime|date("d.m.Y") }}</p>
                                </div>
                                <a href="{{ url('app_energo_article', {id: row.id}) }}"> <h4>{{ row.title }}</h4></a>
                                {{ row.content|striptags|truncate(200) }}
                            </div>
                        </div>
                    {% endfor %}
                    <div class="col-md-12 aligncenter">
                        <a href="{{ url('url_show', {'url': 'janylyktar'}) }}" class="btn btn-default">ВСЕ НОВОСТИ</a>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section id="companies" class="sec-grey">
        <div class="container">
            <div class="row section-title">
                {% trans %}Энергокомпании{% endtrans %}
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                    <div class="content">
                        <a href="http://severelectro.kg/"><img src="{{ asset('images/severelectro.jpg') }}"></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                    <div class="content">
                        <a href="http://www.teploseti.kg/"><img src="{{ asset('images/teplo.jpg') }}"></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                    <div class="content">
                        <a href="http://vostokelectro.kg/"><img src="{{ asset('images/vostok.jpg') }}"></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                    <div class="content">
                        <a href="http://www.energo-es.kg/"><img src="{{ asset('images/estations.jpg') }}"></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                    <div class="content">
                        <a href="http://oshelectro.kg/"><img src="{{ asset('images/oshelectro.jpg') }}"></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                    <div class="content">
                        <a href="http://nesk.kg/"><img src="{{ asset('images/nesk.jpg') }}"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
