{% extends 'base.html.twig' %}

{% block content %}
    <section id="call-to-action-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 aligncenter">
                    <h4>ОАО "НАЦИОНАЛЬНЫЙ ЭНЕРГОХОЛДИНГ"</h4>

                    <h3>ОПЫТ. РАЗВИТИЕ. ИННОВАЦИИ.</h3>

                    <p>Только вместе мы добьемся поставленных целей</p>
                    <a href="#" class="btn btn-default">О КОМПАНИИ</a>
                </div>
            </div>
        </div>
    </section>

    <section id="content">
        <div class="container">
            <div class="row">
                {% include 'energo/skill_home.html.twig' %}
                <div id="news" class="row service-v1 margin-bottom-40">
                {% for row in articles %}
                    <div class="col-md-4 md-margin-bottom-40">
                        <div class="well">
                            <a href="{{ url('app_energo_article', {id: row.id}) }}">
                                <img class="img-responsive" src="{{ asset('uploads/media/' ~ row.image ) }}" alt="">
                            </A>
                            <div class="info-blocks-in">
                                <p>{% trans %}Опубликовано:{% endtrans %} {{ row.createTime|date("d.m.Y") }}</p>
                            </div>
                             <a href="{{ url('app_energo_article', {id: row.id}) }}"> <h4>{{ row.title }}</h4></a>
                            {{ row.content|striptags|truncate(200) }}
                        </div>
                    </div>
                {% endfor %}
                    <div class="col-md-12 aligncenter">
                        <a href="{{ url('url_show', {'url': 'janylyktar'}) }}" class="btn btn-default">ВСЕ НОВОСТИ</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
